@charset "utf-8";

header{
	height:50px;
    width:100%;
	background-color:#ffffff;
    position:fixed;
    top:0;
    z-index:10;
    overflow: hidden;
}

a {
  text-decoration: none;
}

.btn{
    display:inline-block;
    padding:8px 10px;
    color:#738189;
    font-size:13px;
}

.fa-twitter{
    color:#38a1f3;
    margin:0px 0px 0px 200px;
}

.tweet{
    float:right;
}

.icon{
    float:right;
    border-radius: 50%;
}

form{
    display:inline-block;
    float:right;
}

.maincontiner{
    width: 100%;
    background-color: #e6ecf0;
    overflow:hidden;
    clear:both;
    margin-top:50px;
}

.side{
    width:288px;
    float:left;
}

.side1{
    width: 288px;
    height: 95px;
}

.sidetop{
    background-color:#ffffff;
    position:relative;
    margin:5px;
}

.icon2{
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-top:-30px;
    margin-left:5px;
}

ul{
    list-style:none;
    margin:0;
}

ul li{
    display: inline-block;
}

dt{
    font-size:12px;
    color:#657686;
    font-weight: bold;
}

dd{
    font-size:18px;
    color:#38a1f3;
    margin-left: 0px;
    font-weight: bold;
}

.follow1{
    margin-left: 50px;
}

.name1{
    margin:0;
}

.id1{
    margin:0;
}

.fa-lock{
    margin: 0px 0px 0px 10px;
}

.mi{
    position:absolute;
    top:100px;
    left:100px;
    font-size:14px;
}

.main{
    width:800px;
    height:800px;
}
